/* ==========================================================================
   Media Queries
   ========================================================================== */



@media(max-width: 1080px) {

html {

    width: 100%;

}

.return{
    position: absolute;
    top: 75%;
}
    
}


@media (max-width: 767px) {
    html {
       
       width: 100%;   
       
       

    
    }

    .return{
        position: absolute;
        top: 75%;
    }

}