@charset "UTF-8";

/*!

The Stylesheet for the map

Developed by Thai Morris



*/

@font-face {
    font-family: Economica;
    src: url(fonts/Economica-Bold.ttf);

}

@font-face {
    font-family: Lora-Regular;
    src: url(fonts/Lora-Regular.ttf);
    
}

.h1{
    font-family: Economica;

}


span{
    font-weight:bold;
}

p{
    font-family: Lora-Regular;
}




/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav h1 {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Style the content */
.content {
    padding: 5%;
}

/* Style the buttons */
.return {
    font-family: 'Dosis';
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width:50%;
	height:46px;
	line-height:46px;
	border-radius:3px;
	text-align:center;
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    position: relative;
    transform: translateY(-50%);
    left: 25%;
}

.go{
    font-family: 'Dosis';
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width: 50%;
	line-height:46px;
	border-radius:3px;
	text-align:center;
	font-family:''Dosis'';
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    

}

/* .blurb {



} */
 
/* ==========================================================================
   Media Queries
   ========================================================================== */



   @media screen and (max-width: 1080px) {

    html {
    
        width: 100%;
    
    }
    
    .return{
        position: relative;
        top: 16px;
    }
        
    }
    
    
    @media screen and (max-width: 767px) {
        html {
           
           width: 100%;   
        }
    
        .return{
            position: relative;
            top: 14px;
        }
    
    }