@charset "UTF-8";

/*!

CSS style sheet for the self-guided tour web app

Developed by Thai Morris and Hannah Smith

*/

@font-face {

    font-family: Economica-Bold;
    src: url(fonts/Economica-Bold.ttf);

}

@font-face {

    font-family: Lora-Regular;
    src: url(fonts/Lora-Regular.ttf);   

}

h1 {

    font-family: Economica-Bold;

}

h2 {

    font-family: Lora-Regular;

}

p {

    font-family: Lora-Regular;

}

blockquote {

    font-family: Lora-Regular;

}

span {

    font-weight: bold;

}

a:visited {

    color: white;

}

a:active {

    color: white;
}

a:link {

    text-decoration: none;
    color: white;

}

/* Style the top navigation bar */
.topnav {

    overflow: hidden;
    background-color: #333;

}

/* Style the topnav links */
.topnav h1 {

    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Style the content */
.content {

    padding: 5%;

}

/* Style the buttons */
.return {

    font-family: 'Dosis';
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width:50%;
	height:46px;
	line-height:46px;
    border-radius: 50%;
	text-align:center;
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    position: relative;
    transform: translateY(-50%);
    left: 25%;

}

.go {

    font-family: 'Dosis';
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width: 60%;
	line-height:46px;
	text-align:center;
	font-family:''Dosis'';
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    line-height: 40px;
    border-radius: 50%;
    padding: 2%;

}

a.links {

    font-size: 17.5px;
    color: rgb(61, 61, 226);
    text-decoration: underline;

}


  #header {

     /* Image background formatting*/
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url("img/Sign.jpg");
     
  }

  #legend {

    font-family: Lora-Regular;
    background: white;
    padding: 0.5%;
    margin: 10px;
    width: 100%;
    height: 350px;
    opacity: 0.8;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    position: relative;
    left: 37%;

  }
    

  #legend h3 {

    font-size: 22px;
    margin-top: 0;
    font-family: Economica-Bold;

  }

  #legend img {

    vertical-align: middle;

  }

  #title {

    padding: 0.5%;
    text-align: center;
    font-size: 24px;
    color: black;

  }

/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media screen and (min-width: 1081px) and (max-width: 4000px) {

        .return {

            width: 15%;
            left: 43%;
            padding: 1%;

        }

        .return a {

            font-size: 22.5px;

        }  

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }
   
    @media screen and (max-width: 1080px) {

        .return {

            font-size: 21px;
            background-color: #49b5e7;
            background-attachment: fixed;
            color: white;
            padding: 1%;
            border-radius: 50%;
            width: 15%;
            left: 43%;

            }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;
    
            }
        }

    @media screen and (max-width: 793px) {

        .return {

            width: 20.5%;

            }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;
    
            }
        }

    @media screen and (max-width: 558px) {

        .return {

            width: 21.5%;

            }

            #legend {

            width: 24%;
            position: relative;
            left: 37%;
    
            }
        }

    @media screen and (max-width: 585px) {

        .return {

            width: 24.5%;
            padding: 1.5%;
            left: 38%;

        }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }

    @media screen and (min-width: 488px) and (max-width: 584px) {

        .return {

            width: 26.5%;
            left: 36%;

        }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }

    @media screen and (min-width: 451px) and (max-width: 487px) {

        .return {

            width: 30%;
            left: 34%;

        }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }

    @media screen and (max-width: 450px) {

        .return {
            
            width: 37.5%;
            left: 29%;
            padding: 2%;

        }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }

    @media screen and (max-width: 327px) {

        .return {

            width: 45%;
            left: 25%;

        }

        #legend {

            width: 24%;
            position: relative;
            left: 37%;

        }
    }
    
           



